# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Work Files
*.log
full_norad.tle
sat-track.db
sat-track-svr
src/sat-track-svr
norad_names.txt
sat-track-svr.old
www/img/*.*
www/wav/*.*
config/crontab.backup
